body {
    font-family: Arial, sans-serif;
    /* background-color: rgb(217, 215, 215); */
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* position absolute makes the
   tag fix relative to its parent.
   this block makes the main tag to align 
   horizentally and vertically
*/
.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* it is simple border */
.border-red {
    border: 1px solid red;
}

.border-blue {
    border: 1px solid blue;
}

.curvy-border-5 {
    border: 1px solid gray;
    border-radius: 10px;
}

/* it is used for
   to align items in
   one row
*/
.flex-row {
    display: flex;
    flex-direction: row;
}

/* it is used for
   to align items in
   one column
*/
.flex-col {
    display: flex;
    flex-direction: column;
}

/* it is used
   to order items in
   one column and make
   the elements to align
   center horizentally
*/
.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* line-height specify
   the line height of
   text inside corresponding tag
*/
.line-height-2 {
    line-height: 30px;
}

.me-5 {
    margin-right: 20px;
}

.mb-5 {
    margin-bottom: 20px;
}

.me-10 {
    margin-right: 40px;
}

.me-20 {
    margin-right: 80px;
}

.mb-10 {
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 80px;
}

.p-10 {
    padding: 40px;
}

.p-20 {
    padding: 80px;
}

.circle-image {
    border-radius: 50%;
    width: 200px;
    height: auto;
}

/* it centers the
   text inside the div
*/
.text-center {
    text-align: center;
}

/* it is obvious */
.font-weight-bold {
    font-weight: bold;
}

.bg-white {
    background-color: azure;
}

/* making the background blur */
.bg-transparent {
    background-color: transparent;
    backdrop-filter: blur(20px);
}

.textarea {
    padding: 10px;
    border: none;
    outline: none;
    caret-color: blue;
}

.btn-primary-lg {
    background-color: #008CBA;
    color: white;
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

/* change the cursor from
   default type to pointer.
   each time user hovers on
   particular tag, the cursor
   changes to pointer
*/
.btn-primary-lg:hover {
    background-color: rgb(184, 212, 212);
    cursor: pointer;
}

/* change the text color */
.text-red {
    color: red;
}

/* making the element hidden */
.d-hide {
    display: none;
}

/* making to "\n" to
   be rendered
*/
.render-whitespace {
    white-space: pre-wrap;
}